<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.GenreMapper">
    
    <resultMap type="Genre" id="GenreResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
    </resultMap>

    <sql id="selectGenreVo">
        select id, name from genre
    </sql>

    <select id="selectGenreList" parameterType="Genre" resultMap="GenreResult">
        <include refid="selectGenreVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
        </where>
    </select>
    
    <select id="selectGenreById" parameterType="Long" resultMap="GenreResult">
        <include refid="selectGenreVo"/>
        where id = #{id}
    </select>

    <insert id="insertGenre" parameterType="Genre">
        insert into genre
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null and name != ''">name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null and name != ''">#{name},</if>
         </trim>
    </insert>

    <update id="updateGenre" parameterType="Genre">
        update genre
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteGenreById" parameterType="Long">
        delete from genre where id = #{id}
    </delete>

    <delete id="deleteGenreByIds" parameterType="String">
        delete from genre where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>